// Import page-specific CSS files here.
@import "home";
@import "show";

.main-container {
  display: flex;
  margin-left: 20px;
  margin-top: 12px;
}

.cards {
  flex-grow: 1;
}

#map {
  position: sticky;
  top: 0;
}
