<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>Book your stay at <%= @tiny_home.name %></h1>
      <%= render 'form', tiny_home: @tiny_home, booking: @booking %>
      <%= link_to 'Explore nearby', tiny_homes_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
