
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url( <%= asset_path 'wheelhouse_banner.jpg' %> );">
    <div class="container">
      <h1>Wheelhouse</h1>
      <p>Simplicity is the ultimate sofistication</p>
      <a class="btn btn-secondary" href="#">Discover</a>
    </div>
  </div>

  <%= render 'shared/card' %>
