<div class="container mt-5">
  <h1 style="text-align: center">Explore nearby</h1>
</div>

<div class="main-container">
    <div class="cards">
    <!-- CARD -->
    <%= render 'shared/index_card' %>
    </div>
    <!-- MAP -->
    <div id="map"
      style="width: 45%; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
