<div class="container pt-5 ">
  <div class="tiny-title pl-5">
    <h1 style="text-align: center">New Tiny Home</h1>
  </div>

  <div class="container">
    <%= render 'form', tiny_home: @tiny_home %>
    <%= link_to 'Back', tiny_homes_path %>
  </div>
</div>
