.card-trip {
  margin-top: 32px;
  overflow: hidden;
  background: rgba(70, 95, 125, 0.1);
  // background: rgba(143, 124, 77, 0.3);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip .card-trip-details {
  padding: 2px 16px 0px 16px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// SHOW PAGES CARD

.card-tiny {
  margin-top: 96px;
  overflow: hidden;
  background: rgba(70, 95, 125, 0.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-tiny > img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.card-tiny h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-tiny p {
  font-size: 18px;
  opacity: .7;
  margin: 0;
}


.card-tiny .card-tiny-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-tiny-infos .card-tiny-user {
  position: absolute;
  right: 50px;
  top: 10px;
  width: 60px;
}

.tiny_details p {
  border-right: 1px solid rgb(0,0,0);
  padding-right: 12px;
  opacity: 0.7;
  margin-right: 12px;
}

// =====Assembled tiny show pages=====

.assembled-tiny {
  margin-top: 32px;
  padding-left: 8px;
  // overflow: hidden;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.assembled-tiny > img {
  height: 250px;
  width: 100%;
  padding-top: 8px;
  object-fit: cover;
}

#main-image > img {
  height: 500px;
}

#main-image-left {
  border-radius: 16px 0 0 16px;
}

#main-top-left {
  border-radius: 0 16px 0 0;
}

#main-top-right {
  border-radius: 0 0 16px 0;
}
