.footer {
  background: rgba(70, 95, 125, 0.1);
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  width: 100%;
  bottom: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #465F7D;
  // opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-copyright {
  color: #465F7D;
}
